
body {
  background-image: url('void.jpg');
  background-size: cover;       
  background-attachment: fixed;
  background-position: center;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
.player {
  width: 50px;
  height: 50px;
  position: absolute;
}
#player1 {
  background-color: rgb(234, 6, 6);
}
#player2 {
  background-color: rgb(4, 4, 210);
}