
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  width: 50px;
  height: 50px;
  background-color: teal;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#walker {
  width: 50px;
  height: 50px;
  background-color: rgb(234, 6, 6);
  position: absolute;
}
#walker2 {
  width: 50px;
  height: 50px;
  background-color: rgb(4, 4, 210);
  position: absolute;
}