
body {
  background-image: url('forest_background.png');
  background-size: cover;       
  background-attachment: fixed;
  background-position: center;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-image: url('snake1.png');
  background-size: 200%;
  background-position: center;
  transform: rotate(90deg);
}

.apple {
  background-image: url('apple.png');
  background-size: 110%;       
  background-position: center;
  z-index: 1;
}